<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h2 class="title">Book a Table</h2>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Number of Guest</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Mobile Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Cafe Area</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <select class="form-control">
                                                <option>Terrace</option>
                                                <option>Relaxing Area</option>
                                                <option>FunkYard</option>
                                                <option>Amphi-Theater</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger pull-right">Book the Table</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Glimpse of our Cafe</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let rowImg of bookingOptions">
                                        <td><img class="img-rounded" src={{rowImg.path}}/>
                                            <div class="caption">
                                                <h6 class="text-center imgCapt">{{rowImg.caption}}</h6>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>