<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h2 class="title">Book a Table</h2>
                        </div>
                        <div class="card-content">

                            <form id="demo-form" method="post" class="parsleyjs" (ngSubmit)="bookTable()" data-parsley-validate="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Guest Name</label>
                                            <input type="text" class="form-control" name= "gname" [(ngModel)]="bookingDetail.name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Email Id</label>
                                            <input type="text" class="form-control" name= "gemail" [(ngModel)]="bookingDetail.email" data-parsley-trigger="change" data-parsley-validation-threshold="1" required="required">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Number of Guest</label>
                                            <input type="text" class="form-control" name= "gnumber" [(ngModel)]="bookingDetail.guest" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Mobile Number</label>
                                            <input type="text" class="form-control" name= "gmob" [(ngModel)]="bookingDetail.mob" required="required">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Cafe Area</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <select class="form-control" name= "garea" [(ngModel)]="bookingDetail.area" required="">
                                                <option value="Terrace">Terrace</option>
                                                <option value="Relaxing Area">Relaxing Area</option>
                                                <option value="FunkYard">FunkYard</option>
                                                <option value="Amphi-Theater">Amphi-Theater</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger pull-right">Book the Table</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Glimpse of our Cafe</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let rowImg of bookingOptions">
                                        <td><img class="img-rounded" src={{rowImg.path}}/>
                                            <div class="caption">
                                                <h6 class="text-center imgCapt">{{rowImg.caption}}</h6>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>