<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h2 class="title">About Our Captians</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                        <img class="img" src="../assets/img/faces/partner11.jpg" />
                    </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-gray">{{team.partner1.desig}}</h6>
                        <h4 class="card-title">{{team.partner1.name}}</h4>
                        <p class="card-content">
                            {{team.partner1.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                        <img class="img" src="../assets/img/faces/partner22.jpg" />
                    </a>
                    </div>

                    <div class="content">
                        <h6 class="category text-gray">{{team.partner2.desig}}</h6>
                        <h4 class="card-title">{{team.partner2.name}}</h4>
                        <p class="card-content">
                            {{team.partner2.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h2 class="title">About our Team - AUDACITY RIDERS</h2>
                    </div>
                    <div class="card-content">
                        <img class="img" src="../assets/img/faces/team.jpg" style="width: 436px;float: left;margin: 5px;padding-right: 20px;" />
                        <p>{{team.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>