<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="menuImg">
                <img style="width:100%; height:auto;"/>
                <div class="btncontainer">
                    <button class="menubtn" type="button" [disabled]="(counter <= 0)" (click)="handleLeftClick()"><i class="material-icons leftarrow">keyboard_arrow_left</i></button>
                    <button class="pull-right menubtn" type="button" [disabled]="(counter >= (menuItems.length-1))" (click)="handleRightClick()"
                        style="right:0%"><i class="material-icons rightarrow">keyboard_arrow_right</i></button>
                </div>
            </div>
        </div>
    </div>
</div>